html {
    height: 100%;
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px;
    border-style: solid;
    border-top: white;
    border-left: white;
    border-right: white;
}

.start {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 150px;
    font-size: 50px
}

.scores {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 150px;
    font-size: 50px
}